@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #fff5e6;
}

.profile-pic {
  height: 40px;
}

.p-pic {
  height: 100%;
  border-radius: 50%;
}

/* header end  */


.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}




@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

.side-menu-bar {

  margin-top: 200px;
}

/* ScrolBar  */
.scrollbar {

  height: 90%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

.scrollbar:hover {

  height: 90%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Scrollbar Style */



#style-1::-webkit-scrollbar-track {
  border-radius: 2px;
}

#style-1::-webkit-scrollbar {
  width: 5px;
  background-color: #F7F7F7;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #BFBFBF;
}

/* Scrollbar End */









.main-menu:hover,
nav.main-menu.expanded {
  width: 250px;
  overflow: hidden;
  opacity: 1;

}

.main-menu {
  background: #ffffff;
  position: absolute;
  top: 70px;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 55px;
  overflow: hidden;
  -webkit-transition: width .2s linear;
  transition: width .2s linear;
  -webkit-transform: translateZ(0) scale(1, 1);
  box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
  opacity: 1;
  z-index: 1;
}


.main-menu>ul {
  margin: 7px 0;

}

.main-menu li {
  position: relative;
  display: block;
  width: 250px;



}

.main-menu li>a {
  position: relative;
  width: 255px;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #8a8a8a;
  font-size: 13px;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1, 1);
  -webkit-transition: all .14s linear;
  transition: all .14s linear;
  font-family: 'Strait', sans-serif;
  border-top: 1px solid #f2f2f2;

  text-shadow: 1px 1px 1px #fff;
}



.main-menu .nav-icon {

  position: relative;
  display: table-cell;
  width: 55px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;

}

.main-menu .nav-text {

  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 190px;
  font-family: 'Titillium Web', sans-serif;
}





.main-menu .fb-like {

  left: 180px;
  position: absolute;
  top: 15px;
}

.main-menu>ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;

}

.no-touch .scrollable.hover {
  overflow-y: hidden;

}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;

}


/* Logo Hover Property */




a:hover,
a:focus {
  text-decoration: none;
  border-left: 0px solid #F7F7F7;



}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

}

nav ul,
nav li {
  outline: 0;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}




/* Darker element side menu Start*/


.darkerli {
  background-color: #ededed;
  text-transform: capitalize;
}

.darkerlishadow {
  background-color: #ededed;
  text-transform: capitalize;
  -webkit-box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
  -moz-box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
  box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
}


.darkerlishadowdown {
  background-color: #ededed;
  text-transform: capitalize;
  -webkit-box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
  -moz-box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
  box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
}

/* Darker element side menu End*/
nav.main-menu li.active>a>i {
  background-color: #f06d03;
}



.main-menu li:hover>a,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
  color: #fff;
  background-color: #f06d03;
  text-shadow: 0px 0px 0px;
}

nav.main-menu li.active>a {
  color: #fff;
  background-color: #f06d03;
  text-shadow: 0px 0px 0px;
  /* border-radius: ; */
}

.area {
  float: left;
  background: #e2e2e2;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

.side-menu-bar {

  margin-left: 5%;
  
}

.side-menu-bar:hover {
  width: 50%;
  margin-left: 0;
  margin-right: -20%;

}

/* side menu end  */

.dashboard-main-box {
  width: 100%;

}
.box-main1{

  margin-left: -2px;
}
.box-main{
  margin-right: -2px;
  margin-left: 40px;

}
.row-1{
  width: 50%;
  min-width: 10rem;
  max-width: 60rem;
  /* border: 2px solid red; */
}
.row-2{
  width: 50%;
  min-width: 10rem;
  max-width: 60rem;
  /* border: 2px solid red; */
}

.card{
  background-color: #fffefd;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.card-footer{
  background-color: #f06d03;
}
table{
  /* border: 2px solid red; width: 100%; */
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 0;
  /* width: 700px; */
}
table thead tr{
  background-color: #f06d03;
  color: white;
}
table tr{
  border-radius: 20px;
}



